



.dashboard{
    height: 85vh;
}
div#v-pills-tab{
    background: #132644;
    color: white;
    padding: 10px 0px 10px;
    height: 100%;
}
@media (max-width:767px) {
	div#v-pills-tab{
		height: auto;
	}
}
.nav-link{
    max-width: 100%;
    width: 200px;
    color: white;
    font-weight: 600;
    text-align: left;
   
}
@media (max-width:767px){
	.nav-link{
		width: 767px;
	}
}
.nav-link:hover{
    color: rgb(203, 203, 203);
}
.nav-pills .nav-link{
    border: .5px solid #a1a1a178;
    border-radius: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #595959;
}

.tab-content{
    height: 100%;
    width: 100%;
}



