@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  h1{
    font-family: 'Archivo', sans-serif;
    font-size: 28px;
  }
  @media only screen and (max-width:767px){
    h1{
        font-size: 25px;
      }
  }
  .pts1{
    font-family: 'Inter', sans-serif;
    font-size: 13px;
  }
  h3{
    font-family: 'Arial', sans-serif;
  }
  h5,h6{
    font-family: 'Archivo', sans-serif;
  }
  p{
    font-size: 15px;
  }
  a{
    text-decoration: none;
  }
  .btn-1 {
    background: linear-gradient(0deg, rgb(66, 9, 157) 0%, rgb(64, 8, 112) 100%);
    border: none;
    padding: 8px 15px;
    color: #fff;
  }
  .btn-1:before {
    height: 0%;
    width: 2px;
  }
  .btn-1:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
      color: #fff;
  }
  .dropdown-menu{
    background-color: #2e3550ed;
    color: #fefeff;
    border-radius: 0;
  }
  .dropdown-item{
    color: #fff;
  }
@media only screen and (min-width:991px){
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
  }
}
@media only screen and (max-width:991px){
  .navbar-nav{
    padding-top: 55px;
  }
}
.navbar-light .navbar-toggler-icon {
  filter: invert(1);
}
.navbar-toggler:focus{
  box-shadow: none;
}

.heading_text{
  position: relative;
  margin-left: 15px;
  margin-bottom: 15px;
  z-index: 20;
}
.heading_text::before{
  content: '';
  background: #d98132;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -1;
}
  
  /* Header */
  .header{
    background-color: #2e3550;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .logo{
    position: absolute;
    top: 0;
    width: 72px;
    transition: all .5s ease;
  }
  .logo1{
    width: 40px;
    transition: all .5s ease-in-out;
  }
  .nav-link{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .2px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
  }
  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 209 0 / 90%);
    border-bottom: 2px solid;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: rgb(255 209 0 / 90%);
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #e09451;
}

/* Footer */

.footer{
  background-color: #151d3b;
  padding: 50px 0 0px;
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer a,
.footer p{
  color: #ffffff;
}
.copyrights{
  background-color: #2e3550;
  padding: 20px 0 8px;
  margin-top: 30px;
}

  /* Hero section */
  .hero-section{
    background: url(../img/bg/slider-shades.png);
    background-size: cover;
    background-position: center center;
    background-color: #151d3b;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .banner-left{
    text-align: center;
  }
  .clf_banner_p{
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 0;
  }
  .clf_banner_h1{
    color: #e09551;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 125px;
    margin-bottom: 0;
  }
  .imgt3{
    width: 270px;
  }
  @media only screen and (max-width:991px){
    .clf_banner_h1{
      font-size: 55px;
    }
    .imgt3{
      width: 115px;
  
    }
  }
  .first-box-line{
    color: #ff20c3;
    width: 90%;
    height: 5px !important;
    opacity: 1;
  }

  /* Table Area */

.table-area{
    padding-top: 20px;
    position: relative;
    z-index: 20;
}
.table-tab{
    background: #fff;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 10px #282828cc;
}
.table-tab3{
  background: #fff;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  border: 1px solid black;
}
.table_img img{
  width: 12%;
}
.second-table td{
    height: 50px;
    vertical-align: middle;
}
.third-table-row{
    position: relative;
}
.third-table{
    position: absolute;
    top: -60px;
    width: 95%;
    right: 0;
}
.third-table1{
    position: absolute;
    top: 250px;
    width: 95%;
}
@media only screen and (max-width:991px) {
    .third-table{
        top: 0;
    } 
    .third-table{
        position: relative;
        top: 0px;
        width: 100%;
    }
    .third-table1{
        position: relative;
        
    }
}
.standing_table tr td:nth-child(2){
  font-weight: 600;
  font-size: 13px;
  text-align: left;
}
.standing_table tr td{
  text-align: center;
}
.standing_table{
  font-family: 'Archivo', sans-serif;
}
.table-stripeds{
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
}

.kdsk img{
  box-shadow: -4px 4px 10px #c5c5c5;
}
.kdsk h3{
  font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
}
@media only screen and (min-width:767px){
  .kdsk h3{
    font-size: 24px;
    font-weight: 600;
  }
}
@media only screen and (max-width:767px){
  .bangal{
    font-size:13px ;
    margin-top: 5px;
  }                                                                                           
}

.info-p{
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0;
    height: 25px;
}
.transfer-box{
    padding: 8px;
    margin-bottom: 10px;
}
@media only screen and (max-width:1400px){
  .transfer-box{
    margin-bottom: 0px;
}
  .transfer-box p{
    font-size: 12px;
  }
  .transfer-box h6{
    font-size: 14px;
  }
}

.nav-pills .nav-link{
  max-width: 100%;
  width: 120px;
  background: #e8e8e8;
  margin: 10px;
}
@media only screen and (max-width:1400px){
  .nav-pills .nav-link{
    width: 75px;
    height: 30px;
    padding: 4px;
  }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #d93232;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
}
.scr_box{
  padding: 10px;
  margin-bottom: 0;
  width: 35px;
  height: 35px;
  margin: 15px;
  box-shadow: 0 0 10px rgb(189, 189, 189);
}

.top-score{
    background: url(../icons/Mask_group.png);
    background-repeat: no-repeat;
    border-top-right-radius: 13px;
    box-shadow: 0px 10px 10px;
}

/* sponsors */

.sponsors{
    background: #e4e4e440;
    padding: 30px 0 25px;
}
@media only screen and (max-width:767px){
  .sponsors h3{
    text-align: center;
  }
  .spon1{
    width: 33%;
  }
}


/* club-area */

.club-area{
    padding: 30px 0 95px;
    background: url(../img/bg/home_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media only screen and (max-width:991px){
  .club-area{
    padding: 30px 0 10px;
  }
}
.club-img{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    padding: 8px;
    margin-right: 10px;
    border-radius: 8px;
}
.club-img img{
    display: block;
    margin: auto;
}
.club_bg{
  position: relative;
  z-index: 20;
  padding: 20px 13px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.club_bg::before{
  content: "";
  background: url(../img/bg/foot-2.png);
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6;
}
.club_bg::after{
  content: "";
  background-color: #3737c8;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: 5px;
}
.club_bg:hover{
  transform: translate(0px, -5px);
  box-shadow: -15px 15px 15px #d2d2d2 !important ;
}
.club_bg img{
  width: 80px;
}
@media (max-width:767px) {
  .clubs .col-lg-2{
    width: 50%;
  }
  .club_bg img{
    width: 50px;
  }
  .clubs h6{
    font-size: 15px;
  }
}
.matchweek{
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.match_score{
  padding: 10px 16px;
  text-align: center;
  width:6%
}
.matchweek h5{
  margin-top: 10px;
  width: 26%;
}
.matchweek h6{
  box-shadow: -3px 4px 8px rgb(180 180 180);
  border-radius: 7px;
  border: 1px solid;
}
.match_time{
  text-align: center;
}
.matchweek img{
  max-width: 100%;
  width: 50px;
}
@media only screen and (max-width:767px){
  .matchweek h5{
    font-size: 11px;
    width: 24%;
  }
  .match_time{
    font-size: 12px;
  }
  .match_score{
    padding: 4px 0px;
  }
  .matchweek img{
    width: 9%;
  }
}

.matchweek1{
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Archivo', sans-serif;
}
.match_score{
  padding: 10px 16px;
  text-align: center;
  width:6%
}
.matchweek1 h5{
  margin-top: 10px;
  width: 26%;
  color: #fff;
}
.matchweek1 h6{
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 7px;
}
.match_time{
  text-align: center;
  color: #000000;
}
.match_time1{
  text-align: center;
  color: #ffffff;
}
.matchweek1 img{
  max-width: 100%;
  width: 50px;
}
@media only screen and (max-width:767px){
  .matchweek1 h5{
    font-size: 11px;
    width: 24%;
  }
  .match_time{
    font-size: 12px;
  }
  .match_score{
    padding: 4px 0px;
  }
  .matchweek1 img{
    width: 9%;
  }
}
/* news-interest */

.news-interest{
    padding: 15px 0 30px;
}
.news_highlights{
  padding: 26px 10px 9px;
  border-radius: 10px;
}
.news-para{
    font-size: 11px;
}
.news-para1{
  font-size: 14px;
}

/*---------------------------------
 ##table.html 
----------------------------------*/

.banner{
  background: url(../img/bg/banner1.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding: 35px 0 35px;
}
.banner h1{
  text-align: center;
  color: #fff;
}

.table_form{
  background-color: #f2f2f2;
  padding: 25px 0 25px;
}

.table_form select{
  width: 100%;

}
.table-stripeds td{
  padding: 2px 0px 0px 3px;
  vertical-align: middle;
  text-align: center;
}
.table-stripeds th{
  text-align: center;
}
.table-stripeds tr th:nth-child(2){
  text-align: left;
}
.table-stripeds tr td:nth-child(2){
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
.table-stripeds tr td:nth-child(9){
  font-weight: 600;
}
.table-stripeds tr th:nth-child(10){
  text-align: left;
}
.table-stripeds tr:nth-child(1){
  background: #ececec;
  border-bottom: 2px solid gray;
}
.table-stripeds img{
  width: 5%;
}

@media only screen and (max-width:991px){
  .table-stripeds{
    width: 40em;
    overflow: scroll;
  }
}


/*---------------------------------
 ##fixture.html
----------------------------------*/


.club_logo{
  max-width: 100%;
  width: 60px;
}


.water-mark{
  position: relative;
}
.water-mark::before{
  content: "";
  background: url(../img/bg/foot-2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: .5;
  overflow: hidden;
}

.table_select select{
  padding: 8px 8px;
  border: none;
  box-shadow: -11px 10px 12px rgb(198 198 198);
}

.mtc_high{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.mtc_high img{
  width: 500px;
  border-radius: 10px;
}
.mtc_high p{
  font-size: 13px;
}


.social-menu ul{
  padding: 0;
  margin: 0;
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin-right: 10px;
}

.social-menu ul li .fab{
  font-size: 23px;
  line-height: 48px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover{
  color: #fff;
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 47px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
  background-color: rgba(206, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #0077b5;
}

/*---------------------------------
 ##Talent hunt.html
----------------------------------*/

.talent-hunt{
  padding: 30px 0 30px;
  position: relative;
  background-color: #151d3b;
  z-index: 20;
}
.talent-hunt::before{
  content: '';
  background: url(../img/bg/sports-center.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .18;
}
.talent-hunt label{
  color: #ffffff;
}
.talent-hunt input{
  background-color: #ffffff5c;
  color: #fff;
}
.talent-hunt input::placeholder{
  color: #c0c0c0;
}

.talent-hunt select{
  background-color: #ffffff5c;
  color: #ffffff;
}
.talent-hunt option{
  color: #000;
}


/*---------------------------------
 ##tournament-list.html
----------------------------------*/


.tournament-list{
  position: relative;
  padding: 30px 0 30px;
  background-color: #532;
  z-index: 20;
}
.tournament-list::before{
  content: '';
  background: url(../img/bg/football-stadium-3d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .6;
}
.t_list_card{
  background: url(../img/bg/slider-shades.png);
  background-size: contain;
  background-color: darkslateblue;
  background-position: center center;
  padding: 20px;
  border-radius: 13px;
  box-shadow: 0px 5px 10px #0000006b;
  text-align: center;
  transition: all .3s ease;
}
.t_list_card:hover{
  box-shadow: -13px 15px 15px #000000a6;
  transform: translateY(-5px);
}
.t_list_card h1{
  font-size: 22px;
}

/*---------------------------------
 ##Ifa-shield-winner.html
----------------------------------*/
.ifa_shield_banner{
  position: relative;
  background-color: #3c646a;
  padding: 30px 0 30px;
  z-index: 20;
}
.ifa_shield_banner::before{
  content: '';
  background: url(../img/bg/stadium_bg1.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  z-index: -1;
}
.ifa_shield_banner img{
  width: 230px;
}
.ifa-shield{
  padding: 30px 0 30px;
}


/*---------------------------------
 ##Contact.html
----------------------------------*/
.contact_us_form{
  padding: 12px;
}
.cnt_info{
  position: relative;
  background-color: #151d3b;
  z-index: 20;
}
.cnt_info::before{
  content: '';
  background: url(../img/bg/1389373_124.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  z-index: -1;
}

/*---------------------------------
 ##Members
----------------------------------*/
.members{
  text-align: center;
  overflow: hidden;
}
.members_info{
  padding: 10px;
  background-color:#d98132;
  position: relative;
}
.members_info::before {
  content: '';
  background-color: #864d19;
  width: 52px;
  height: 61px;
  position: absolute;
  top: -13px;
  left: 11px;
  transform: rotate(77deg);
  z-index: -1;
}
.members img{
  transition: all .5s ease;
}
.members img:hover{
  transform: scale(1.2);
}
@media (max-width:767px) {
  .mem-box{
    width: 50%;
  }
  .mem-box h5{
    font-size: 13px;
  }
  .mem-box p{
    font-size: 12px;
  }
}

/*---------------------------------
 ##Club page
----------------------------------*/


.clubs_pages{
  padding: 30px 0 30px;
}

/*---------------------------------
 ##Gallery.html
----------------------------------*/

.gallery{
  padding: 30px 0 30px;
}

.gallery img{
  width: 100%;
  height: 180px;
  box-shadow: 0 0 10px #b3b3b3;
  transition: all .5s ease;
}
.gallery img:hover{
  transform: translateY(-5px);
  box-shadow: -8px 8px 12px #b3b3b3;
}


/* ------------ news -------------- */

.news{
  padding: 30px 0 30px;
}
.news-img{
  width: 860px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.recent_news{
  margin-top: 25px;
}
.recent_news img{
  width: 120px;
}
.new-date{
  margin-bottom: 0;
}
@media (max-width:767px){
  .new-date{
    font-size: 13px;
  }
}
.stickyside{
  position: sticky;
  top: 15px;
  padding: 10px;
}